body {
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
.note {
    font-size: 14px;
width: 100%;
margin: 0px;
}

#status, #baby_detected {
font-size: 18px;
border-radius: 10px;
margin-top: 30px;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}